<div class="d-flex">
  <div class="menu-bar">
    <p>Home</p>
    <p>Creating Packages</p>
    <p>API</p>
    <p>Configuration</p>
    <p>Pluggable Resolvers</p>
    <p>Tools</p>
    <p>About</p>
  </div>
  <div class="content-container d-flex py-3 px-2 flex-column " data-controller = "searchzone">
    <%= form_with url: root_path, method: :get, html: { class:
    'mb-4', data: { searchzone_target: 'form' } } do |f| %>
      <%= f.text_field :query,
                     class: "form-control",
                     placeholder: 'Search',
                     value: params[:query],
                     data: { searchzone_target: 'input',
                            action: 'keyup->searchzone#update' } %>
    <% end %>
    <div class="content-packages d-flex flex-column border">
      <div class="card-base d-flex mx-2 buttons py-3">
        <div class="card-main-content">
          Name
        </div>
        <div class="card-owner px-2">
          Owner</div>
        <div class="card-stars px-2">
          Stars</div>
      </div>
      <%= render :partial => 'partials/all_cards', locals: { pack: @packsinfos} %>
    </div>
    <div class="pagination d-flex justify-content-center mt-2">
      <
      <p>page <%= @page %></p>
      >
    </div>
  </div>
</div>
