<div class="d-flex">
  <div class="menu-bar">
    <p>Home</p>
    <p>Creating Packages</p>
    <p>API</p>
    <p>Configuration</p>
    <p>Pluggable Resolvers</p>
    <p>Tools</p>
    <p>About</p>
  </div>
  <div class="content-container d-flex py-3 px-2 flex-column " data-controller = "searchzone" data-page ="1" data-sorted ="name" data-searchzone-target="info">
    <%= form_with url: root_path, method: :get, html: { class:
    'mb-4', data: { searchzone_target: 'form' } } do |f| %>
      <%= f.text_field :query,
                     class: "form-control",
                     placeholder: 'Search',
                     value: params[:query],
                     data: { searchzone_target: 'input',
                            action: 'keyup->searchzone#update' } %>
    <% end %>
    <%= render :partial => 'partials/all_cards', locals: { pack: @packsinfos} %>
  </div>
</div>
