<div class=" bower-nav">
  <div class="d-flex justify-content-end">
    <h3>Docs</h3>
    <h3>Search packages</h3>
    <h3>Blog</h3>
    <h3>Stats</h3>
  </div>
  <%= image_tag "bower.png", :class => "img-nav"%>
  <div class="title-navbar d-flex ">
    <div class="title-navbar-content">
      <h1>Bower Search</h1>
      <p>Powered by <a href="#">libraries.io</a></p>
    </div>
  </div>
</div>
